@page
@model VacationDBASPDesignPattern.Pages.DaysTakens.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Days Taken</h1>

<a asp-page="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DaysTaken[0].EmpId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysTaken[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysTaken[0].VacationType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysTaken[0].CDay)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.DaysTaken) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmpId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VacationType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CDay)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DTId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DTId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DTId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
