@page
@model VacationDBASPDesignPattern.Pages.Departments.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Departments</h1>

<a asp-page="Create">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Department[0].DeptName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Department) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeptName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.DeptId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.DeptId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.DeptId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
